.message_container {
    width: 100%;
    height: auto;
    margin: 2px;
    display: flex;
    justify-content: flex-end;
}
.user {
    justify-content: flex-end;
}
.contact {
    justify-content: flex-start;
}

.message {
    width: auto;
    max-width: 400px;
    height: auto;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: aquamarine;
    margin: 2px;*/
    word-break: break-word;
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
}

.user_message {
    background-color: var(--background-message-user);
}

.contact_message {
    background-color: var(--background-message-user2);
}